@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");

body{
	background-color: #404040;
	font-family: cursive;
}


/*Width*/
.width-35{
	width: 35%;
}

.width-50{
	width: 50%;
}

.width-90{
	width: 90%;
}
.width-100{
	width: 100%;
}
@media(max-width: 500px ){
	.mobile-width-90{
		width: 90%;
	}
}

.background-white{
	background-color: #fff;
}
.text-center{
	text-align: center;
} 

/*Spacing*/
.padding-v4{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.padding-h2{
	padding-left: 2rem;
	padding-right: 2rem;
}
.margin-v2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*display*/
.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.table-center{
	display: table;
	margin: 0 auto;
}

/*units*/
.input{
	width: 100%;
	height: 42px;
	border: 4px solid #888;
	border-radius: 5px;
	outline: none;
	padding: 1.4rem 0 1.4rem 2rem; 
	font-size: 40px;
	color: #888;

}
.time-box{
	width: 60px;
	height: 70px;
	font-size: 45px;
	background-color: #888;
	color: #fff;
	padding-top: 10px;
	border-radius: 4px;
	margin-right: 0 !important;

}

/*Positions*/
.pull-right{
	float: right;
}